:root {
  --heading-font: "Playfair Display", serif;
  --text-font: "Poppins", sans-serif;
}

body {
  background-color: white;
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 96px;
  padding: 0px 30px;
  margin-top: 0px;
  color: #69349c;
}

h2 {
  font-family: var(--text-font);
  font-size: 24px;
  font-weight: 400;
  padding: 10px;
  margin-bottom: 40px;
  color: #8f6bce;
}
h3 {
  font-family: var(--text-font);
  margin: 10px;
  color: #69349c;
}
.hero {
  min-height: 50vh;
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.01);
  padding: 80px 20px;
  opacity: 0.8;
}
.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 40%;
  min-height: 40%;
  z-index: -1;
  opacity: 0.8;
}
.hero1 {
  font-size: 36px;
  font-weight: 700;
  margin: 0 auto;
  color: #8f6bce;
}

.contactLink {
  font-family: var(--text-font);
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #6c63ff;
  border-radius: 4px;
  padding: 18px;
  width: 200px;
}

.homepageImage {
  width: 400px;
  height: 300px;
  border: 5px solid #e5dfff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.col {
  max-width: 100%;
  height: auto;
  margin-bottom: 70px;
}

.project-info {
  text-align: left;
  width: 500px;
  padding-bottom: 20px;
  margin: 0%;
  font-family: var(--text-font);
  font-weight: none;
  margin-bottom: 30px;
}

.project-link {
  font-family: var(--text-font);
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  color: #8f6bce;
  background-color: white;
  border-radius: 4px;
  padding: 18px;
  width: 200px;
  border: solid 2px #8f6bce;
}
.project-link:hover {
  background-color: #8f6bce;
  color: white;
  transition: all ease-in-out 200ms;
}
.project-container {
  margin: 48px;
}

p {
  margin-bottom: 40px;
  font-family: var();
}

.row {
  margin-bottom: 70px;
  margin-top: 30px;
}

@media (max-width: 800px) {
  .project-info {
    padding: 0;
    text-align: center;
    margin: 0 auto;
    width: auto;
    margin-bottom: 50px;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }
  .text-muted {
    padding: 0px;
  }
  .col {
    margin-bottom: 30px;
  }
  .hero {
    padding-bottom: 30px;
  }
}

/* About page */

.about-section-content {
  margin-top: 100px;
}

.h1-about {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 40px;
  padding: 0px 30px;
  margin-top: 40px;
}
.h2-about {
  font-family: var(--text-font);
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  margin-bottom: 20px;
}
.about-me-text {
  text-align: left;
  font-family: var(--text-font);
  font-size: 15px;
  margin-left: 30px;
  margin-bottom: 50px;
}

.work-link {
  font-family: var(--text-font);
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #e5dfff;
  border-radius: 4px;
  padding: 18px;
  width: 200px;
}

.profile-pic {
  width: 300px;
  height: auto;
  border: 5px solid #e5dfff;
  border-radius: 700px;
  justify-content: center;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .work-link {
    margin: 0 auto;
  }

  .about-section-content {
    margin-top: 30px;
  }
  .about-me-text {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
  }
  .profile-pic {
    width: 200px;
    margin-top: 30px;
  }
}
