:root {
  --heading-font: "Playfair Display", serif;
  --text-font: "Poppins", sans-serif;
}

body {
  background-color: white;
  text-align: center;
  margin: 0 auto;
}
nav {
  font-family: var(--text-font);
  color: #69349c;
  padding-top: 10px;
  padding-bottom: 0px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav li {
  display: inline;
  list-style: none;
  margin-left: 20px;
}
nav ul {
  padding: 0px;
  margin: 0px;
}
nav a {
  padding-top: 20px;
  text-decoration: none;
  color: #530080;
}
.active {
  color: #8f6bce;
}
nav a:hover,
.footer-social-links nav li.active a {
  color: #8f6bce;
  transition: all 100ms ease-in-out;
}

.logo {
  max-width: 100px;
  display: list-item;
  margin: 0px;
}
h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 96px;
  padding: 0px 30px;
  margin-top: 0px;
  color: #530080;
}

h2 {
  font-family: var(--text-font);
  font-size: 24px;
  font-weight: 400;
  padding: 10px;
  margin-bottom: 40px;
  color: #8f6bce;
}
h3 {
  font-family: var(--text-font);
  margin: 10px;
  color: #530080;
}
h4 {
  font-weight: 900;
}
.hero {
  min-height: 50vh;
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.01);
  padding: 80px 20px;
  opacity: 0.8;
}
.hero p {
  font-family: var(--text-font);
}
.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 40%;
  min-height: 40%;
  z-index: -1;
  opacity: 0.8;
}
.hero1 {
  font-size: 36px;
  font-weight: 700;
  margin: 0 auto;
  color: #8f6bce;
  font-family: var(--heading-font);
}

.contactLink {
  font-family: var(--text-font);
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #6c63ff;
  border-radius: 4px;
  padding: 18px;
  width: 200px;
}

.homepageImage {
  width: 400px;
  height: 300px;
  border: 5px solid #e5dfff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.col {
  max-width: 100%;
  height: auto;
  margin-bottom: 70px;
}

.project-info {
  text-align: left;
  width: 500px;
  padding-bottom: 20px;
  margin: 0%;
  font-family: var(--text-font);
  font-weight: none;
  margin-bottom: 30px;
}

.project-link {
  font-family: var(--text-font);
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  color: #8f6bce;
  background-color: white;
  border-radius: 4px;
  padding: 18px;
  width: 200px;
  border: solid 2px #8f6bce;
}
.project-link:hover {
  background-color: #8f6bce;
  color: white;
  transition: all ease-in-out 200ms;
}
.project-container {
  margin: 48px;
}

p {
  margin-bottom: 40px;
  font-family: var(--text-font);
}

.row {
  margin-bottom: 70px;
  margin-top: 30px;
}
.contact-box {
  width: 600px;
  height: 100px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 0px;
  background-color: #e5dfff;
  padding: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  margin-bottom: 40px;
}
.contact-box h4 {
  font-family: var(--heading-font);
  color: #530080;
}
.contact-box p {
  font-family: var(--text-font);
}
.contact-box a {
  text-align: center;
  max-width: 200px;
  font-family: var(--text-font);
}

.footer-link {
  text-decoration: none;
  color: #69349c;
  margin-bottom: 5px;
}
.footer-link:hover {
  color: #8f6bce;
}

.footer-social-links {
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 0px;
  text-align: center;
}

@media (max-width: 800px) {
  .project-info {
    padding: 0;
    text-align: center;
    margin: 0 auto;
    width: auto;
    margin-bottom: 50px;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }
  .text-muted {
    padding: 0px;
  }
  .col {
    margin-bottom: 30px;
  }
  .hero {
    padding-bottom: 30px;
  }
  .logo {
    display: none;
  }
  nav {
    padding-bottom: 5px;
    display: block;
  }
  .contact-box {
    max-width: 300px;
  }
  .contact-box a {
    width: 100px;
    padding: 5px;
    text-align: center;
  }
}

/* About page */

.about-section-content {
  margin-top: 100px;
  margin-bottom: 10px;
}

.h1-about {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 40px;
  padding: 0px 30px;
  margin-top: 40px;
}
.h2-about {
  font-family: var(--text-font);
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  margin-bottom: 20px;
}
.about-me-text {
  font-family: var(--text-font);
  font-size: 15px;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #69349c;
  text-decoration: none;
}
.about-me-info {
  min-height: 20vh;
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.01);
  border: #e5dfff solid 2px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  width: 600px;
  height: fit-content;
  padding: 20px;
  margin-bottom: 40px;
}

.video-bg-about {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 20%;
  min-height: 20%;
  z-index: -1;
  opacity: 0.8;
}
.work-link {
  font-family: var(--text-font);
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #e5dfff;
  border-radius: 4px;
  padding: 18px;
  width: 200px;
}

.profile-pic {
  width: 300px;
  height: auto;
  border: 5px solid #e5dfff;
  border-radius: 700px;
  justify-content: center;
  margin: 0 auto;
}
.col {
  margin-bottom: 10px;
}
@media (max-width: 800px) {
  .work-link {
    margin: 0 auto;
  }

  .about-section-content {
    margin-top: 30px;
  }
  .about-me-info {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 50px;
  }
  .about-me-text {
    padding-bottom: 0px;
  }
  .profile-pic {
    width: 200px;
    margin-top: 30px;
    display: block;
    margin: 0 auto;
  }
  .hero {
    min-height: 40vh;
  }
}

/* Work  */

.work-images {
  width: 400px;
  height: 250px;
  object-fit: cover;
  border-radius: 4px;
}
.h1-work {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 50px;
  padding: 30px 30px;
  color: #69349c;
  margin-bottom: 80px;
  margin-top: 80px;
  width: fit-content;
}
.work-information {
  font-weight: bolder;
}
.work-header {
  font-weight: bold;
}

.work-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

.content {
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.01);
  padding: 30px 30px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  display: block;
}
.work-container {
  min-height: 50vh;
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.01);
  padding: 20px 20px;
  width: 48%;
  border: #e5dfff solid 2px;
  border-radius: 5px;
}

.video-bg-work {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 20%;
  min-height: 20%;
  z-index: -1;
  opacity: 0.8;
}
@media (max-width: 800px) {
  .work-images {
    display: block;
    width: 300px;
  }
  .work-container {
    padding: 0;
    text-align: center;
    margin: 0 auto;
    width: 300px;
    margin-bottom: 20px;
  }
  .work-p {
    font-size: 15px;
    padding: 10px 20px;
    margin: 0 auto;
  }
  .h1-work {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  #work-header {
    font-size: 40px;
  }
}

/* Contact page */

.video-bg-contact {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 20%;
  min-height: 20%;
  z-index: -1;
  opacity: 0.8;
}
.contact-details-container {
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.01);
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  display: block;
  border-radius: 4px;
  margin-bottom: 10px;
  flex-direction: column;
}

.contact-details-link {
  text-decoration: none;
  font-family: var(--text-font);
  color: #8f6bce;
  text-align: center;
}
.contact-details-link:hover {
  color: #69349c;
  cursor: pointer;
}
.hero-contact {
  font-family: var(--heading-font);
  color: #69349c;
  font-size: 50px;
  font-weight: 600;
}
.contact-info-row {
  display: flex;
  margin-bottom: 50px;
}

i {
  color: #69349c;
}

#work-header {
  margin-bottom: 50px;
}

@media (max-width: 800px) {
  .contact-info-row {
    flex-direction: column;
    height: 400px;
    background: #f6f2fe;
    margin-top: 0px;
    text-align: center;
  }
  #work-header {
    background: none;
  }
  .col-4 {
    flex: 1;
    margin: 0 auto;
    height: fit-content;
    text-align: center;
    width: auto;
  }
}
