:root {
  --heading-font: "Playfair Display", serif;
  --text-font: "Poppins", sans-serif;
}

body {
  background-color: white;
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 96px;
  padding: 0px 30px;
  margin-top: 0px;
}

h2 {
  font-family: var(--text-font);
  font-size: 24px;
  font-weight: 400;
  padding: 10px;
  margin-bottom: 40px;
}
h3 {
  font-family: var(--text-font);
  margin: 10px;
}
.hero {
  background-color: #f9f7fe;
  padding: 100px 20px;
}

.hero1 {
  font-size: 36px;
  font-weight: 700;
  margin: 0 auto;
  color: #272142;
}

.contactLink {
  font-family: var(--text-font);
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #6c63ff;
  border-radius: 4px;
  padding: 18px;
  width: 200px;
}

.homepageImage {
  width: 400px;
  height: 300px;
  border: 5px solid #e5dfff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.col-6 {
  max-width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.project-info {
  text-align: left;
  width: 500px;
  padding-bottom: 20px;
  margin: 0%;
  font-family: var(--text-font);
  font-weight: none;
  margin-bottom: 30px;
}

.project-link {
  font-family: var(--text-font);
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #e5dfff;
  border-radius: 4px;
  padding: 18px;
  width: 200px;
}

.project-container {
  margin: 48px;
}

p {
  margin-bottom: 40px;
  font-family: var();
}

.row {
  margin-bottom: 70px;
  margin-top: 30px;
}
